# Cursor Rules

## Working with Figma MCP Server

### Tailwind

- Use tailwind best practices/naming conventions
- NEVER create helper classes or other utility code when not explicit desired

### Tailwind Theme

- Use for the theme categories this comment style: /_ ===== PRIMITIVES ===== _/
- Use for variable groups this comment style: /_ Colors _/

- NEVER invent variables, tokens, or classes. Add only tokens from Figma.
- Overwrite Tailwind defaults when appropriate, but never rename colors.
  EXAMPLE: Instead of --font-size-12: 12px, use --text-xs: 12px or instead of --font-family-sans: Inter, use --font-sans: Inter
  IMPORTANT: Use --font-weight-* for font-weight variables instead of --font-* to prevent conflicts with font-family variables, but follow the tailwind convention that the tailwind utility class is still font-* (e.g. font-bold).
- Add a comment after each variable indicating its source path and original name in figma
  EXAMPLE: --text-xs: 12px; /_ figma: path/to/variable/font-size-200 _/
- Add missing semantic or componeont design token as primitives when not present
- NEVER add duplicated primitives—always pick the simpler variable name.

### Handling Text Styles

- Define text styles as tailwind utilities, not individual variables per attribute.
  EXAMPLE: @utility heading-1 { @apply slnt-positive text-xs leading-snug font-display font-bold }
- When font-variation-settings variables exist (e.g. --slnt-positive), use them in text styles via a utility class.
  EXAMPLE: Instead of "italic", create a Tailwind utility "slnt-positive" with { font-variation-settings: "slnt" var(--slnt-positive); }

### Writing component code

- Implement the design with tailwind v4
- ALWAYS use design tokens from @theme.css wherever possible.
- NEVER create new components, variants, sizes, or states. ALWAYS follow the Figma design closely.
  EXAMPLE: Instead of text-[#d84799] use bg-(--button-text-color)
- ALWAYS use the new Tailwind v4 variable syntax.
  EXAMPLE: Instead of bg-[--button-text-color], use bg-(--button-text-color).
- ALWAYS use Tailwind default utilities for pixel-based values.
  EXAMPLE: Instead of rounded-[8px], use "rounded-lg
- Export react components as default
